* { box-sizing: border-box; padding: 0; margin: 0; }

*:after { box-sizing: border-box; padding: 0; margin: 0; }

*:before { box-sizing: border-box; padding: 0; margin: 0; }

.container { display: -ms-grid; display: grid; -ms-grid-columns: 10vw auto; grid-template-columns: 10vw auto; -ms-grid-rows: 50px auto; grid-template-rows: 50px auto; grid-template-areas: ". ." ". main"; width: 100vw; height: 100vh; }

.side { position: fixed; width: 10vw; height: 100vh; color: white; background-color: #17202a; text-align: center; font-size: 1.2vw; }

.side > a { display: -ms-flexbox; display: flex; text-decoration: none; color: white; padding: 10px; height: 50px; -ms-flex-pack: left; justify-content: left; -ms-flex-align: center; align-items: center; }

.side > a:hover { background-color: #2c3e50; }

.side [class*='icon-'] { padding-right: 10px; }

.top { display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-align: baseline; align-items: baseline; background-color: white; margin: 0; padding: 0; }

.main { grid-row: 1/4; grid-column: 2/4; -ms-flex-pack: center; justify-content: center; background-color: #f4f7f9; overflow: auto;}

.main > section { margin: 0 1em 1em; border: 1px solid grey; background-color: white; font-size: 1.5em; }

.main > section:first-child { margin-top: 1em; }

.btn { height: 35px; font-size: 14px; background-color: white; border: 0.5px solid grey; text-align: center; text-decoration: none; color: grey; cursor: pointer; width: 135px; border-radius: 5%; }

.btn:hover { box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); background-color: #eaecee; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

.general { border: 0; padding: 0; overflow: auto; height: calc(100vh - 4em); }

[class*='-title'] { border-bottom: 1px solid grey; padding: 10px; margin: 0; color: grey; }

[class*='-table'] { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; border-bottom: 1px solid grey; height: 100px; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

#gen-input1 { height: 35px; border-bottom: 1px solid grey; text-align: center; }

#gen-input2 { height: 35px; border-bottom: 1px solid grey; text-align: center; width: 150px; }

#gen-btn { height: 35px; border-bottom: 1px solid grey; text-align: center; background-color: #ff5733; width: 40px; outline: none; border: none; border-radius: 5%; cursor: pointer; }

.general-underlines { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin: 20px; }

.general-underlines > div { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-direction: row; flex-direction: row; margin: 15px; }

#visit-sign { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; color: grey; width: 10em; font-weight: bold; background-color: white; padding: 5px; }

#visit-sign:hover { background-color: #eaecee; }

#net-dep { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; color: grey; width: 10em; font-weight: bold; background-color: white; padding: 5px; }

#net-dep:hover { background-color: #eaecee; }

#ftd { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; color: grey; width: 10em; font-weight: bold; background-color: white; padding: 5px; }

#ftd:hover { background-color: #eaecee; }

#turn-over { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; color: grey; width: 10em; font-weight: bold; background-color: white; padding: 5px; }

#turn-over:hover { background-color: #eaecee; }

#visit-num { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; width: 2em; text-align: right; }

#dep-num { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; width: 2em; text-align: right; }

#ftd-num { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; width: 2em; text-align: right; }

#turn-num { outline: none; border: none; border-bottom: 1px solid grey; font-size: 24px; width: 2em; text-align: right; }

#void1 { outline: none; border: none; visibility: hidden; }

#void2 { outline: none; border: none; visibility: hidden; }

.earnings-chart { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; color: grey; font-weight: bold; margin-top: 25px; padding: 10px; -ms-flex-pack: justify; justify-content: space-between; }

.earnings-chart > div { width: 10vw; margin: 10px; font-size: 24px; }

.col-2 { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: start; align-content: flex-start; }

.buttons-chart { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: center; justify-content: center; }

.btn-chart { border: none; width: 90px; height: 36px; cursor: pointer; margin: 15px; font-weight: bold; color: #17202a; border-radius: 5%; }

.btn-chart:hover { background-color: #99a3a4; }

.img-chart { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin: 15px; }

.img { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; width: 600px; height: 300px; background-color: black; }

.not { width: 45px; }

.quit { width: 45px; }

.pro { width: 200px; }

.icon-refresh { color: white; }

.icon-calendar { color: grey; }

.hamburger { position: relative; display: none; height: 25px; width: 30px; border: 0; border-top: 5px solid #fff; background: transparent; cursor: pointer; transition: 0.3s transform linear; }

.hamburger::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; border-top: 5px solid #fff; transform: translateY(5px); }

.hamburger::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; border-top: 5px solid #fff; transform: translateY(5px); transform: translateY(15px); transition: 0.3s transform linear; }

.hamburger.open { transform: rotate(45deg) translateY(10px); }

.hamburger.open::after { transform: rotate(-90deg) translateX(5px); }

.hamburger.open::before { display: none; }

.just, .manager { max-width: 100%; height: auto; }

.wrapper { display: block; visibility: hidden; }

@media (max-width: 768px) { .container { display: -ms-grid; display: grid; -ms-grid-columns: auto; grid-template-columns: auto; -ms-grid-rows: 50px auto; grid-template-rows: 50px auto; grid-template-areas: "." "main"; width: 100vw; height: 100vh; transition: margin-left 0.7s; }
  .main { width: 100vw; height: 100vh; }
  .side { overflow-x: hidden; margin-left: 0; width: 0; height: 100vh; color: white; background-color: #17202a; text-align: center; transition: 0.7s; z-index: 1; font-size: 2.5vw;}
  .top { height: 50px; background-color: #17202a; transition: 0.7s; }
  .btn { margin-top: 50vh; transition: 0.7s; }
  .btns { visibility: visible; background-color: transparent; border: 2px solid grey; padding: 5px; color: white; cursor: pointer; border-radius: 5%; margin-bottom: 10px; }
  .btns:hover { background-color: grey; }
  .wrapper { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }
  .hamburger { position: absolute; display: -ms-flexbox; display: flex; top: 1em; right: 2em; justify-self: flex-end; } }
